######################################################
## Add your own gitignore files here ##

#PDF
*.pdf 

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

__pycache__/
*.py[cod]
*$py.class
*.xz
*.gz
*.zip
*.bz2
*.rar
*.tar
*.7z
*.dmg
*.jar
*.iso
.DS_Store
*.csv
.ipynb_checkpoints
.idea
